/* Layout shifter styling for screens above 1024 */

 @media (min-width: 1024px) {

  .wholepage {
     display: flex;
   }

   header.page {
   margin: 160px 48px 48px 60px;
   }

   main {
    margin: 160px 48px 48px 60px;
   }

   header.page {
     max-width: 440px;
   }

   nav {
    background-color: #4056a1;
    background-image: none;
   }
 }