
article.tweet {
  border: 4px solid black;
  padding: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

article:hover {
  font-weight: 400;
  box-shadow: 4px 4px;
}

article.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.name {
  margin-left: 4px;
  flex-grow: 2;
}

span.handle {
  visibility: hidden;
  color: lightgray;
}

article:hover span.handle {
  visibility: visible;
}

p.tweet {
  border-bottom: 4px solid black;
}

article.tweet footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

footer i {
  visibility: hidden;
}

article:hover footer i {
  visibility: visible;
}